* {
    margin: 3px;;
    padding: 0;
}

body {
    height: 100vh;
    /* Viewport Height (vh) ekran yüksekliğinin 100/1'lik bir bölümüne denk geliyor. */
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background: #e2dfd0 ;
}

 .timebox{
    display:block;
    color:rgb(46, 43, 43);
    background: #eeeef6;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 130px;
    height: 170px;
    padding: 25px 15px;
    margin: 10px;
    border: 3px solid #555656;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    /* display: inline-block;
    border: 1px solid rgb(29, 171, 116);
    border-radius: 5px;
    height: 180px;
    width: 180px;
    padding-top: 35px; */
}

.datetime {
    display:block;
    color:rgb(46, 43, 43);
    background: #eeeef6;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 130px;
    height: 170px;
    padding: 25px 15px;
    margin: 10px;
    border: 3px solid #555656;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
}

